body{
  height: 3000px;
}

img{
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-bottom: 10px;
}

p{
  color: white;
}

.harmburger{
  position: fixed;
  display: flex;
  flex-direction: row;
}

.profile-pictures{
  background-color: rgb(33, 33, 33);
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 72px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.options{
  background-color: rgb(55, 55, 55);
  position: fixed;
  left: 70px;
  bottom: 0;
  top: 0;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px; 
}

.top-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.INFO {
  color: white;
  font-size: 14px;
}

.symbol {
  color: rgb(150, 150, 150);
  font-size: 25px;
}

.channel {
  color: rgb(150, 150, 150);
  margin-bottom: 16px;
}
